<div class="page-content">
  <header><h1 class="logo text-overflow">Profile</h1></header>

  <a class="itunes text-overflow" href="https://itunes.apple.com/us/app/profile-soap-collective-interactive/id1076481308">Get it on iTunes</a>

  <footer>A product of <strong><a href="http://www.thesoapcollective.com">The Soap Collective</a><strong>.</footer>
</div>
